venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
flaskr/*.egg-info/
/.idea/.gitignore
/notive-flask/flaskr.egg-info/dependency_links.txt
/.idea/dictionaries
/.idea/misc.xml
/.idea/modules.xml
/notive-flask/flaskr.egg-info/not-zip-safe
/.idea/notive.iml
/notive-flask/flaskr.egg-info/PKG-INFO
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/notive-flask/flaskr.egg-info/requires.txt
/notive-flask/flaskr.egg-info/SOURCES.txt
/.idea/sqldialects.xml
/notive-flask/flaskr.egg-info/top_level.txt
/.idea/vcs.xml

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

