venv/
.DS_Store

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

.idea/
dist/
build/
flaskr/*.egg-info/
notive-flask/flaskr/env.py
/notive-flask/flaskr.egg-info/dependency_links.txt
/notive-flask/flaskr.egg-info/not-zip-safe
/notive-flask/flaskr.egg-info/PKG-INFO
/notive-flask/flaskr.egg-info/requires.txt
/notive-flask/flaskr.egg-info/SOURCES.txt
/notive-flask/flaskr.egg-info/top_level.txt